.playing-card {
  width: 140px;
  height: 200px;
  border: 2px solid black;
  border-radius: 10px;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 10px;
}

.card-value {
  font-size: 28px;
  font-weight: bold;
}

.card-suit {
  place-self: center;
  font-size: 24px;
}

.playing-card.red {
  color: red;
}

.playing-card.black{
  color: black;
}